body{
margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #331e42;
}
.korobka{
    height: 99vh;
    margin: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    background-color: #331e42;
    display: flex;
    color: #B4A5A5;
    height: 99vh;
}
h1{
    font-size: 100px;
    margin: 15px 0 15px 0;
}
h2{
    font-size: 30px;
    margin: 0;
}
.ich{
    position: absolute;
    z-index: 3;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    left: 1100px;
    top: 220px;
}
.krug{
    z-index: 1;
    top: 165px;
    left: calc(50% + 90px);
    position: absolute;
    width: 800px;
    height: 800px;
    background: rgb(60,65,92);
    background: linear-gradient(90deg, rgba(60,65,92,1) 0%, rgba(51,30,66,1) 81%);   
    border-radius: 100%;   
}
.prizrak{
    width: 80px;
    position: absolute;
}
.navbar{
    background-color: #3c415c;
    color: #B4A5A5;
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100px;

}
.logo{
    font-size: 30px;
    margin: 0 50px 0 50px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    margin: 0 0 0 50px;
    color:#B4A5A5 ;
}
.Myskills{
    font-size: 150px;
    color:#B4A5A5;
    text-align: center;
    width: 100%;

}
.skill{
   display: flex;
   width: 100%;
   margin-left: 210px;

}
.skills{
    font-size: 30px;
    color:#B4A5A5;

}
.pstolb{
    margin-left: 50px;
    width: 50%;
}
.obomne{
    font-size: 40px;
    color:#B4A5A5;
    text-align: center;
    margin-top: 300px;
}
.pipi{
    font-size: 150px;
    color:#B4A5A5;
    text-align: center;
    margin-bottom: 5%;
}
.container {
  display: flex;
  flex-direction: row;
}
.section img {
  max-width: 100%;
}
.section {
  flex-grow: 1;
  padding: 20px;
}
.bstolb{
    width: 50%;
}
.sanzar3600{
    width: 100%;
    display: flex;
}    
.meow{
   font-size: 150px;
    color:#B4A5A5;
    width: 100%; 
}
.aboutme{
    height: 100%;
}
.gray{
    color:#3c415c;
}
.walter{
    color:#B4A5A5 ;
}
.projects{
    margin-top: 300px;
    margin-left: 10%;
    margin-right: 10%;
}
.sectext{
    color:#B4A5A5 ;
    font-size: 40px;
}
.money{
    color:#B4A5A5;
    text-align: center;
    font-size: 150px;
    margin-top: 300px;
}
.cash img{
    max-width: 40%;
     margin: 5% 0 10% 10%

}
.cash{
    display: flex;
}
.blin{
    color:#B4A5A5 ;
    font-size: 40px;
     margin: 5% 10% 10% 10%
}
